button {
    position: relative;
    padding: 0.375rem 0.88rem;
    color: #333;
    background-color: #18181A;
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 0.85rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  button:hover {
    color: #F8F8F9;
    background-color: #18181A;
  }
  button.active {
    color: #F8F8F9;
    background-color: #18181A;
  }
  .dropdown {
    position: absolute;
    top: 38px;
    left: -1px;
    background: #242427;
    padding: 0;
    color: #0062cc;
    text-align: left;
    border-radius: 8px;
  }
  .dropdown > p {
    margin: 0;
    padding: 0.375rem 0.88rem;
    min-width: 140px;
  }
  .dropdown > p:hover {
    color: #fff;
    background-color: #2A2A2E;
  }
  .dropdown > p:last-child {
    border-bottom: 0 none;
  }  