:root {
  --app-height: 100%;
}

.app {
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
  display: flex;
  flex-direction: column;
  place-content: center;
  overflow: hidden;
  background-color: #121213;
}

main {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}