@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Inter/inter-v11-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/Inter/inter-v11-latin_cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../assets/fonts/Inter/inter-v11-latin_cyrillic-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/Inter/inter-v11-latin_cyrillic-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../assets/fonts/Inter/inter-v11-latin_cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/Inter/inter-v11-latin_cyrillic-regular.svg#Inter')
      format('svg'); /* Legacy iOS */
}
/* inter-600 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Inter/inter-v11-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/Inter/inter-v11-latin_cyrillic-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../assets/fonts/Inter/inter-v11-latin_cyrillic-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/Inter/inter-v11-latin_cyrillic-600.woff')
      format('woff'),
    /* Modern Browsers */
      url('../assets/fonts/Inter/inter-v11-latin_cyrillic-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/Inter/inter-v11-latin_cyrillic-600.svg#Inter')
      format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Inter', sans-serif, 'Segoe UI Emoji', 'Noto Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-ismoothing: grayscale;
  background: #121213;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

form {
  width: 100%;
}
